<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="main">
                <h4>Welcome to YES Bank<br><br>
                <h5>{{aim}}</h5></h4><br>
            

            <input type="text" id="acno" [value]="acno" [(ngModule)]="acno" placeholder="enter account number"><br><br>
            <input type="text" name="" id="uname" placeholder="enter username"><br><br>
            <input type="text" id="pwd" [(ngModule)]="pswd"  placeholder="enter password"><br><br>
            <button class="btn btn-success" (click)="login()" onclick="Bank.login()">login </button>

        </div>
    </div>
        <div class="col-4"></div>
    </div>
</div>
