
.error{
    color: red;
}
.container{
    background-color: tan;
}

.button{
    background-color: chocolate;
}
.buttton{
    background-color:darkgoldenrod
}
.style1{
    background-color: aqua;
    opacity: 0.1;
}