<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="main">
                <h4>Welcome to YES Bank<br><br>
                <h5>Register-Form</h5></h4><br>
            

            <input type="text" id="acno" [(ngModel)]="acno" placeholder="enter account number"><br><br>
            <input type="text" name="" id="uname" [(ngModel]="uname" placeholder="enter username"><br><br>
            <input type="password" id="pwd" [(ngModel)]="pswd"  placeholder="enter password"><br><br>
           
            <input type="button" value="Register" (click)="register()" class="button button1 butefct"><br>

        </div>
    </div>
        <div class="col-4"></div>
    </div>
</div>
