<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="main">
                <h4>Welcome to YES Bank<br><br>
                <h5>Register-Form</h5></h4><br>

            <form [formGroup]="registerForm" (ngSubmit)="register()">

            <input type="text" name="" id="uname" name="uname" formControlName="uname" placeholder="enter username"><br>
            <div *ngIf="(registerForm.get('uname')?.touched || registerForm.get('uname')?.dirty) && registerForm.get('uname')?.errors" class="error">Invalid Username</div><br>
            <input type="text" id="acno" name="acno" formControlName="acno" placeholder="enter account number"><br>
            <div *ngIf="(registerForm.get('acno')?.touched || registerForm.get('acno')?.dirty) && registerForm.get('acno')?.errors" class="error">Invalid Account Number</div><br>
            <input type="password" id="pwd" name="pswd" formControlName="pswd"  placeholder="enter password"><br>
            <div *ngIf="(registerForm.get('pswd')?.touched || registerForm.get('pswd')?.dirty) && registerForm.get('pswd')?.errors" class="error">Invalid Password</div><br>
            <input type="submit" value="Register"  class="button button1 butefct"><br>
            <a routerLink="">Log In</a>
        </form>

        </div>
    </div>
        <div class="col-4"></div>
    </div>
</div>
            
